@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #dedfde; */
    background: -webkit-linear-gradient(left, #1b7e55, #30a172);
    font-family: 'Signika Negative', sans-serif;
}

.container{
    background-color: #fff;
    border-radius: .5rem;
    border: solid #fff;
   
}

.form-title{
    margin-bottom: 20px;
    margin-top: 15px;
    color: #1b7e55;
    text-align: left;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 15px;
}

input, label{
    margin-bottom: 10px;
    color:#8d8d8d;  
}

input[type="email"], input[type="password"]{
    height: 65px;
    border-radius: 8px;
    border: 1px solid;  
}

input[type="checkbox"], label[for="view-password"]{
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: baseline;
    gap: 2px;
}

.forgot-password{
    text-align: right;
    margin: 0 0 10px;
    color: #6e6d6d;
}

button{
    height: 65px;
    background-color: #1b7e55;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor:pointer;
}

button:hover{
    background-color: #30a172;
    transition: .5s;
}

h4{
    text-align: center;
    margin-top: 10px;
    color: #8d8d8d;
    text-decoration: none;
}

#social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

a{
    color: #fff;
    text-decoration: none;
    
}

#social-icon-facebook{
    background-color: #3b5998;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

#social-icon-linkedin{
    background-color: #0e76a8;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
}

#social-icon-twitter{
    background-color:  #00acee;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
}

#social-icon-facebook, #social-icon-linkedin, #social-icon-twitter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in{
    color: #6e6d6d;
    text-align: center;
    margin-top: 20px;
}


